extends layout

block content
  h1 Vendeli API
  p Bienvenido a mi API en #{title}
  p Recuerda que estas en el puerto 3000, el cual es la API.
  p Por favor usa el puerto 3001 para ver la APP de React <3
