@import 'styles/variables';


.list-container {
  background: $gradientBackground, url($cristalsBgImage);
  background-size: cover;
  color: white;
  list-style: none;
  height: 100vh;
  margin: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
