@import 'styles/variables';


.list-container {
  background: $gradientBackground, url($cristalsBgImage);
  background-size: cover;
  color: white;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.loading {
  height: 100vh;
}
